body {
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(204, 220, 118);
  /* background-image: url("image/Gal-xia-tem-tico-espa-o-star-wars-noite-c-u-foto-pano-de-fundo-vinil.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  /* min-height: 100%;
  min-width: 100%; */
  /* width: 10%;
  height: 10%; 
  bottom: 0%;
  right: 0%;  */

}

/* .butt { 
  display: flex;
  justify-content: center;
} */

.but {
  background-color: #18181B;
  margin: 5%;
  width: 80px;
  display: flex;
  list-style: none;
  padding: 8px 0;
  border-radius: 15px;
  border: 0.1px solid #099FFF;
  box-shadow:  0 4px 8px 0 #00FFFF, 0 6px 20px 0
  rgb(0,0,0,0.19);
  margin-top: -1%; 

}


.menu {
  background-color: #18181B;
  margin: 5%;
  width: 450px;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 8px 0;
  border-radius: 25px;
  border: 0.1px solid #099FFF;
  box-shadow:  0 4px 8px 0 #00FFFF, 0 6px 20px 0
  rgb(0,0,0,0.19);
  margin-top: -1%;

}

.listaMenus {
margin: auto;
color: white;
font-size: 20px;
cursor: pointer;
color: #00FFFF;

}
.listaMenus:after {
  display: block;
}
.listaMenus:hover:after {
  transform: scaleX(1);
}

/* .curriculo {
  background-color: #18181B;
  border: 0.1px solid #099FFF;
  box-shadow:  0 4px 8px 0 #00FFFF, 0 6px 20px 0
  rgb(0,0,0,0.19);
 
} */
.bg {
  background: linear-gradient(to bottom, transparent 0%, black 100%);
  opacity: 0.3;
  z-index: -1;
  padding-left:  30%;
}

.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("image/icons8-linkedin-48.png"); /* substitua "icone.png" pela URL ou caminho do arquivo da imagem do seu ícone */
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.iconGit {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("image/icons8-github.gif"); /* substitua "icone.png" pela URL ou caminho do arquivo da imagem do seu ícone */
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.iconEmail {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("image/icons8-gmail-50.png"); /* substitua "icone.png" pela URL ou caminho do arquivo da imagem do seu ícone */
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.iconWhats {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("image/icons8-whatsapp\ \(1\).gif"); /* substitua "icone.png" pela URL ou caminho do arquivo da imagem do seu ícone */
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.containerCOntato  { 
  display: flex;
  justify-content:end;
  gap: 20px;
  color: #00FFFF;
  }

.containerLogo { 
display: flex;
justify-content:end;
gap: 20px;
}
.containerFooter { 
  display: flex;
  justify-content:center;
  gap: 20px;
  }

.projetos {
  display: flex;
  align-items:flex-end;
flex-direction: column;
color: rgb(204, 220, 118);
padding-right: 10%;
/* margin-top: -2%; */

}

.bemVindo {
  padding-left: 20%;
  margin-top: 1px;
}

.Descricao {
  padding-left: 20%;
  margin-top: 3%;
}

.certificado {
  display: flex;
  align-items:flex-end;
flex-direction: column;
padding-right: 5%;
margin-top: -10%;
gap: 10px;

}

.color {
  color: rgb(204, 220, 118);
}

.Carousel {
display: flex;
/* align-items:center; */
justify-content: center;
/* margin-top: -7%; */
}

